{{<layout}}

  {{$applicationContent}}
    <h1>{{ title }}</h1>
    <p>{{#__}}main.title{{/__}}</p>

    <input class="button" type="submit" value="Save and continue">
  {{/applicationContent}}

{{/layout}}
